<h1 id="title">Chatroom</h1>

<%= form_with model: Message.new do |form| %>
  <%= form.text_field :text %>
  <%= form.submit "Submit" %>
<% end %>

<p> ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ </p>

<%= render partial: "message" %>

